{include file="Common/header" /}
{include file="Common/left" /}
<!-- 内容区域 -->
<!-- 内容区域 -->
<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
    <!-- 地址导航栏 -->
    <ul class="breadcrumb">
        <li><i class="fa fa-map-marker"></i></li>
        {volist name="__PARENT_MENU__" id="vo"}
            <li>{$vo.title}</li>
        {/volist}
    </ul>

    <div class="panel panel-default panel-height">
        <div class="panel-boby panel-height">
            <form class="form form-horizontal builder-form" action="__SELF__" method="post">
              <div class="form-group">
                <label class="col-sm-2 control-label">节点标题</label>
                <div class="col-sm-10">
                  <input type="text" name="title" class="form-control form-text" placeholder="例如:系统后台" value="{$info.title}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">节点名称</label>
                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control form-text" placeholder="例如：Admin" value="{$info.name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                  <select class="form-control form-text" name="status">
                    <option value="1">启用</option>
                    <option value="0">禁用</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                  <select class="form-control form-text" name="level">
                    {$node.levelOpiton}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">父节点</label>
                <div class="col-sm-10">
                  <select class="form-control form-text" name="pid">
                    {$node.pidOption}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-10">
                  <input type="text" name="sort" class="form-control form-text" placeholder="" value="{$info.sort}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                  <textarea class="form-control form-text" rows="3" name="remark" placeholder="{$info.remark}"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="hidden" name="id" value="{$info.id}" />
                   <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                   <button type="submit" class="btn ajax-post btn-primary button-width" target-form="builder-form">确定</button>

                   <!-- Indicates a successful or positive action -->
                   <button type="button" onclick="javascript:history.back();" class="btn btn-success button-width">返回</button>
                </div>
              </div>
            </form>
        </div>
    </div>

</div>
<!-- 内容区域结束 -->
{include file="Common/footer" /}
<script type="text/javascript">
  $(function(){
    $("select[name='level']").change(function(){
      var level = $(this).val();
      $("select[name='pid']>option").attr("disabled", "disabled");
      if(level==1){
        $("select[name=pid]>option[value='0']").removeAttr("disabled").attr("selected", "selected");
      }else if(level==2){
        $("select[name='pid']>option[level='1']").removeAttr("disabled");
      }else{
        $("select[name='pid']>option[level='2']").removeAttr("disabled");
      }
    });
  });

</script>