{include file="Common/header" /}
{include file="Common/left" /}
<!-- 内容区域 -->
<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
    <!-- 地址导航栏 -->
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>

    <div class="panel panel-default panel-height">
        <div class="panel-boby panel-height">
            <form class="form form-horizontal builder-form" action="__SELF__" method="post">
              <div class="form-group">
                <label class="col-sm-2 control-label">角色名称</label>
                <div class="col-sm-10">
                  <input type="text" name="name" class="form-control form-text" placeholder="例如:行政组" value="{$info.name}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">父级组ID</label>
                <div class="col-sm-10">
                  <select class="form-control form-text" name="pid">
                    <option value="0">根级</option>
                    {volist name="list" id="v"}
                      <option value="{$v.id}" {eq name="info[pid]" value="$v[id]"}selected{/eq} >{$v.name}</option>
                    {/volist}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                  <select class="form-control form-text" name="status">
                    <option value="1" {eq name="info[status]" value="1"}selected{/eq}>启用</option>
                    <option value="0" {eq name="info[status]" value="0"}selected{/eq}>禁用</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">备注</label>
                <div class="col-sm-10">
                  <textarea class="form-control form-text" rows="3" name="remark" placeholder="{$info.remark}"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="hidden" name="id" value="{$info.id}" />
                   <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                   <button type="submit" class="btn ajax-post btn-primary button-width" target-form="builder-form">确定</button>

                   <!-- Indicates a successful or positive action -->
                   <button type="button" onclick="javascript:history.back();" class="btn btn-success button-width">返回</button>
                </div>
              </div>
            </form>
        </div>
    </div>

</div>
<!-- 内容区域结束 -->
{include file="Common/footer" /}